@import "tailwindcss";

body {
  margin: 0;
  min-width: 320px;
  min-height: 480px;
  /* Minimal height for popup */
  background-color: white;
  /* Force white background */
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}